.move {
  .status {
    padding: 8px;
    p,
    pre {
      margin: 0;
      font-family: Consolas, "Courier New", Courier, Monaco, monospace;
    }
  }
  .commands {
    position: fixed;
    left: 8px;
    bottom: 24px;
    .info {
      p {
        margin: 0;
      }
    }
    button {
      display: block;
      margin: 4px 0;
      width: 100%;
    }
  }
}
